Thumbs.db
[Bb]in
[Dd]ebug*/
[Oo]bj/
[Rr]elease*/
[Tt]est[Rr]esult*
*.obj
*.exe
*.pdb
*.pidb
*.user
*.aps
*.pch
*.docstates
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.dbmdl
*.schemaview
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
_ReSharper*/
*.ReSharper.*
*.docstates
*.sw[po]
*.*~
*.gpState
*.preflight
*.orig
*.dotCover
NDependOut/
*.ndproj
src/SyncToy_*.dat
*.jtconfig
.idea

Build.sdf
Build.opensdf
ipch/*
*.sln.DotSettings

!/coverage/OpenCover/*
!/coverage/ReportGenerator/bin/
!/coverage/ReportGenerator/bin/*
!/lib/ApiChange/*

TestResults

#NuGet
!.nuget/NuGet.exe
*.nupkg
packages/
**/.temp
**/.output
**/.report
**/.build/CompatabilityLog.txt
.logs

# Numbered / version folders and files, e.g. _0001
**/*_[0-9]*/**
**/*_[0-9]*

*.sublime-workspace

# Ref folders
**/_#REF/**
**/._#REF/**

.temp
