@model TheBlog.Model.Post

<div class="post-div">

    <h2 class="jqmaintitle">
        Title
    </h2>
    <div class="post-header-home">
        <span class="post-author vcard">
            <i class="fa fa-user"></i>
            <span class="glyphicon glyphicon-user"></span>
            <span class="fn">
                Serhii A.
            </span>
        </span>
    </div>
    <div class="homapge-thumb">
        <div class="post hentry" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">

            <div>
                <a href="http://simpleblogbt.blogspot.com/2014/02/familiar-for-me-but-which-leaf.html">
                    <span style="float: left; margin-right: 10px; width: 250px; height: 200px; background: url(http://3.bp.blogspot.com/-lwySqlD99X8/UySHFgLQtxI/AAAAAAAAAXM/wV_0QtuQlJU/s1600/mini-tumblr_n21m2rUrrD1st5lhmo1_1280.jpg) center 0 no-repeat transparent; background-size: 250px auto;"></span>
                </a>
                <div>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem...
                </div>
            </div>
            <div class="s-clear">
            </div>
            <a href="http://google.com" class="btn btn-primary rmlink" role="button">Read More</a>
            <div class="s-clear">
            </div>
        </div>
    </div>
    <div class="post-header-label">
        <span class="post-timestamp">
            <i class="fa fa-clock-o"></i>
            <abbr class="published" title="2014-02-17T09:18:00-08:00">
                Monday, February 23, 2015
            </abbr>
        </span>
    </div>
</div>