@model List<TheBlog.Model.Post>

<div id="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="main section" id="main">
                <div id="list-main">
                    @foreach (var post in Model)
                    {
                        @Html.Partial("_PostTemplate", post)
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hide-home-sidebar">
            <div class="sidebox">
                <div class="sidebar section" id="sidebar">
                    <div class="widget Label" id="Label1">
                        <h2>Tags</h2>
                        <div class="widget-content list-label-widget-content">
                            <span class="dots" >Azure&nbsp;</span>
                            <span class="dots">ASP.NET&nbsp;</span>
                            <span class="dots">Back-End&nbsp;</span>
                            <span class="dots">C#&nbsp;</span>
                        </div>
            </div>
        </div>
    </div>
</div>
