@model List<TheBlog.Model.Post>

<header id="main-header-wrapper">
    <div class="container container-slash">
        <div id="header-wrapper">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 head-col">
                <div class="section" id="blog-title">
                    <div class="widget Header" id="Header1">
                        <div id="header-inner">
                            <div class="titlewrapper">
                                <h1 class="h-title" >
                                   meh.
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="top-ad">
                <div class="top-ad section" id="top-ad">
                </div>
            </div>
        </div>
    </div>
</header>
<div id="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="main section" id="main">
                <div id="list-main">
                    @foreach (var post in Model)
                    {
                        @Html.Partial("_PostTemplate", post)
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hide-home-sidebar">
            <div class="sidebox">
                <div class="sidebar section" id="sidebar">
                    <div class="widget Label" id="Label1">
                        <h2>Categories</h2>
                        <div class="widget-content list-label-widget-content">
                            <ul>
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <li>@category&nbsp;</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hide-home-sidebar">
            <div class="sidebox">
                <div class="sidebar section" id="sidebar">
                    <div class="widget Label" id="Label1">
                        <h2>Tags</h2>
                        <div class="widget-content list-label-widget-content">
                            @foreach (var tag in ViewBag.Tags)
                            {
                                <span class="dots">@tag&nbsp;</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
