


<div>
    Hello to the Administrator page1
</div>

<ul class="nav nav-tabs">
    <li  class="active"><a href="#" data-toggle="tab">Posts</a>
    
    </li>
    <li  ><a href="#" data-toggle="tab">Categories</a></li>
    <li  ><a href="#" data-toggle="tab">Tags</a></li>
</ul>

